{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Sign up" %}
{% endblock %}

{% block content %}
    <h3>{% trans "Sign up" %}</h3>
    <div class="container">
        <form action="{% url "authentication:registration" %}" method="post" class="form-horizontal">
            {{ form.non_field_errors }}

            {% csrf_token %}

            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ form.username.id_for_label }}">
                    {% trans 'Username' %}:
                </label>
                <div class="col-sm-6">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ form.email.id_for_label }}">
                    {% trans 'E-Mail' %}:
                </label>
                <div class="col-sm-6">
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ form.password.id_for_label }}">
                    {% trans 'Password' %}:
                </label>
                <div class="col-sm-6">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ form.password_confirmation.id_for_label }}">
                    {% trans 'Confirm Password' %}:
                </label>
                <div class="col-sm-6">
                    {{ form.password_confirmation }}
                    {{ form.password_confirmation.errors }}
                </div>
            </div>


            <input type="submit" value="{% trans 'Sign up' %}" />
        </form>
    </div>
{% endblock %}
