{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Ticket Detail" %}
{% endblock %}

{% block content %}
    <h1>
        {{ ticket }}
        <a href="{% url 'tickets:edit' ticket.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
    </h1>
    <label>{% trans "Created by" %}:</label> {{ ticket.created_by }}<br />
    <label>{% trans "Created at" %}:</label> {{ ticket.created_at }}<br />
    <label>{% trans "Status" %}:</label> {{ ticket.status }}

    <pre>
    {{ ticket.description }}
    </pre>

    {# display comment form #}
    <a href="{% url 'comments:create' ticket.pk %}">Create a new comment</a>

    {# display comment list #}
    {% include "comments/ticket_comments.html" with ticket=ticket %}
{% endblock %}
